@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');




* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: #2758B8;
    --secondary-color: #F6CF5B;
    --accent-color: #282D2F;


    --font-color-primary: #1C2021;
    --font-color-secondary: #5D6163;
    /* --font-color-accent: #F6CF5B; */
}